.header--home {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include mobile {
        width: initial;
        flex-wrap: wrap;
    }
    @include laptop {
        width: initial;
        flex-wrap: wrap;
    }
}

.header__info--photographer {
    background-color: map-get($couleurs, coulTxtSecondaireGris);
    border-radius: 5px;
    margin: 30px 5rem 0 5rem;
    padding: 56px 3rem;
    display: flex;
    position: relative;
    z-index: 0;
    & .contact-information {
        flex: 1 0 33%;
        max-width: 33%;
        & .photographer__town {
            margin-top: 0.45rem;
            font-size: map-get($size, pageTxtDesc);
            color: map-get($couleurs, coulPrimaire);
        }
        & .photographer__tagline {
            margin-top: 1.1rem;
            font-size: map-get($size, pageTxtTag);
            color: map-get($couleurs, coulTxtTagline);
        }
    }
    & .btn-container {
        flex: 1 0 33%;
        max-width: 33%;
    }
    & .bloc-photo-container {
        flex: 1 0 33%;
        position: relative;
        display: flex;
        justify-content: flex-end;
        & .photo-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: inset 0px 0px 4px 6px rgba(250, 250, 250, 0.9);
            border-radius: 50%;
            height: 12.8em;
            width: 12.8em;
            & img {
                z-index: -1;
                position: relative;
                border-radius: 50%;
                height: 12.5em;
                width: 12.5em;
                object-fit: cover;
            }
        }
        & .photo-container::after {
            display: flex;
            justify-content: center;
            align-items: center;
            content: "";
            position: absolute;
            border-radius: 50%;
            height: 12.8em;
            width: 12.8em;
            box-sizing: border-box;
            padding: 10px;
            background: linear-gradient(180deg, #FAFAFA, rgba(250, 250, 250, 0.8));
            mask: linear-gradient(#FAFAFA 0 0) content-box, linear-gradient(#FAFAFA 0 0);
            mask-composite: destination-out;
        }
    }
}