.photographer--main {
    margin: 0 5rem;
    @include mobile {
        margin: 0 1.5rem;
    }
}

.main__info--photographer {
    background-color: map-get($couleurs, coulTxtSecondaireGris);
    border-radius: 5px;
    margin: 30px 0rem 0 0rem;
    padding: 56px 3rem;
    display: flex;
    position: relative;
    z-index: 0;
    @include mobile {
        background-color: map-get($couleurs, coulTxtBlanc);
        padding: 0;
        flex-wrap: wrap;
    }
    & .contact-information {
        flex: 1 0 33%;
        max-width: 33%;
        @include mobile {
            flex: 1 0 75%;
            max-width: 75%;
        }
        & .photographer__town {
            margin-top: 0.45rem;
            font-size: map-get($size, pageTxtDesc);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @include mobile {
                margin-top: 0;
                font-size: map-get($size, pageTxtTagMob);
                padding: 0.2rem 2rem 0.2rem 0;
            }
            color: map-get($couleurs, coulPrimaire);
        }
        & .photographer__tagline {
            margin-top: 1.1rem;
            font-size: map-get($size, pageTxtTag);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @include mobile {
                margin-top: 0rem;
                font-size: map-get($size, pageTxtTagMob);
                padding: 0rem 2rem 0rem 0;
            }
            color: map-get($couleurs, coulTxtTagline);
        }
    }
    & .btn-container {
        flex: 1 0 33%;
        max-width: 33%;
        @include mobile {
            display: flex;
            justify-content: space-around;
            max-width: 100%;
            order: 1;
        }
    }
    & .bloc-photo-container {
        flex: 1 0 33%;
        position: relative;
        display: flex;
        justify-content: flex-end;
        @include mobile {
            margin-top: -0.88em;
            flex: 1 0 25%;
            max-width: 25%;
        }
        & .photo-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: inset 0px 0px 4px 6px rgba(250, 250, 250, 0.9);
            border-radius: 50%;
            height: 12.8em;
            width: 12.8em;
            @include mobile {
                box-shadow: inset 0px 0px 2px 2.5px rgba(250, 250, 250, 0.9);
                height: 6.4em;
                width: 6.4em;
            }
            & img {
                z-index: -1;
                position: relative;
                border-radius: 50%;
                height: 12.5em;
                width: 12.5em;
                @include mobile {
                    height: 6.25em;
                    width: 6.25em;
                }
                object-fit: cover;
            }
        }
        & .photo-container::after {
            content: "";
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' width='50mm' height='50mm' viewBox='0 0 50 50' version='1.1' id='svg3769' inkscape:version='0.92.5 (2060ec1f9f, 2020-04-08)' sodipodi:docname='photoMask.svg'%3E%3Cdefs id='defs3763'%3E%3ClinearGradient inkscape:collect='always' id='linearGradient4639'%3E%3Cstop style='stop-color:%23fafafa;stop-opacity:1' offset='0' id='stop4635' /%3E%3Cstop style='stop-color:%23fafafa;stop-opacity:0' offset='1' id='stop4637' /%3E%3C/linearGradient%3E%3ClinearGradient inkscape:collect='always' xlink:href='%23linearGradient4639' id='linearGradient4641' x1='94.740822' y1='0.98549956' x2='94.740822' y2='691.09082' gradientUnits='userSpaceOnUse' gradientTransform='matrix(0.26458333,0,0,0.26458333,0,-0.11683726)' /%3E%3C/defs%3E%3Csodipodi:namedview id='base' pagecolor='%23fafafa' bordercolor='%23666666' borderopacity='1.0' inkscape:pageopacity='0.0' inkscape:pageshadow='2' inkscape:zoom='1.4' inkscape:cx='107.27397' inkscape:cy='45.798991' inkscape:document-units='mm' inkscape:current-layer='layer1' showgrid='false' inkscape:window-width='1880' inkscape:window-height='1016' inkscape:window-x='1120' inkscape:window-y='426' inkscape:window-maximized='1' /%3E%3Cmetadata id='metadata3766'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cg inkscape:label='Calque 1' inkscape:groupmode='layer' id='layer1'%3E%3Cpath style='fill:url(%23linearGradient4641);fill-opacity:1;stroke-width:0.26458332' d='M 0,-4.8528932e-5 V 50 H 50.000048 V -4.8528932e-5 Z M 25.000024,1.8830407 A 23,23 0 0 1 48.000171,24.883187 23,23 0 0 1 25.000024,47.883333 23,23 0 0 1 1.9998779,24.883187 23,23 0 0 1 25.000024,1.8830407 Z' id='rect3779' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/svg%3E%0A");
            background-size: 12.8em 12.8em;
            @include mobile {
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' width='50mm' height='50mm' viewBox='0 0 50 50' version='1.1' id='svg3769' inkscape:version='0.92.5 (2060ec1f9f, 2020-04-08)' sodipodi:docname='photoMask.svg'%3E%3Cdefs id='defs3763'%3E%3ClinearGradient inkscape:collect='always' id='linearGradient4639'%3E%3Cstop style='stop-color:%23ffffff;stop-opacity:1' offset='0' id='stop4635' /%3E%3Cstop style='stop-color:%23ffffff;stop-opacity:0' offset='1' id='stop4637' /%3E%3C/linearGradient%3E%3ClinearGradient inkscape:collect='always' xlink:href='%23linearGradient4639' id='linearGradient4641' x1='94.740822' y1='0.98549956' x2='94.740822' y2='691.09082' gradientUnits='userSpaceOnUse' gradientTransform='matrix(0.26458333,0,0,0.26458333,0,-0.11683726)' /%3E%3C/defs%3E%3Csodipodi:namedview id='base' pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1.0' inkscape:pageopacity='0.0' inkscape:pageshadow='2' inkscape:zoom='1.4' inkscape:cx='107.27397' inkscape:cy='45.798991' inkscape:document-units='mm' inkscape:current-layer='layer1' showgrid='false' inkscape:window-width='1880' inkscape:window-height='1016' inkscape:window-x='1120' inkscape:window-y='426' inkscape:window-maximized='1' /%3E%3Cmetadata id='metadata3766'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cg inkscape:label='Calque 1' inkscape:groupmode='layer' id='layer1'%3E%3Cpath style='fill:url(%23linearGradient4641);fill-opacity:1;stroke-width:0.26458332' d='M 0,-4.8528932e-5 V 50 H 50.000048 V -4.8528932e-5 Z M 25.000024,1.8830407 A 23,23 0 0 1 48.000171,24.883187 23,23 0 0 1 25.000024,47.883333 23,23 0 0 1 1.9998779,24.883187 23,23 0 0 1 25.000024,1.8830407 Z' id='rect3779' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/svg%3E%0A");
                background-size: 6.4em 6.4em;
            }
            position: absolute;
            border-radius: 50%;
            height: 12.8em;
            width: 12.8em;
            @include mobile {
                height: 6.4em;
                width: 6.4em;
            }
            box-sizing: border-box;
        }
    }
}