nav[aria-label="All photographers tags"] {
    @include mobile {
        order: 2;
        flex: 1 0 100%;
    }
    @include laptop {
        order: 2;
        flex: 1 0 100%;
    }
}

.index-categories {
    display: flex;
    flex-wrap: wrap;
    margin-top: 58px;
    padding: 0 2em;
    @include mobile {
        margin-top: 18px;
        justify-content: center;
        margin-bottom: 2em;
    }
    @include laptop {
        margin-top: 18px;
        justify-content: center;
        margin-bottom: 2em;
    }
    & li {
        padding: 0 0.15em;
        & a {
            position: relative;
            z-index: 1;
            vertical-align: top;
            font-weight: 500;
            font-size: map-get($size, indexTxtTag);
            border: 0.7px solid map-get($couleurs, coulTagBorder);
            color: map-get($couleurs, coulPrimaire);
            padding: 0.2em 0.6em;
            border-radius: 11px;
            cursor: pointer;
        }
        & a:hover::after {
            opacity: 1;
        }
        & a::after {
            z-index: -1;
            content: "";
            position: absolute;
            top: 0px;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            transition: opacity 250ms;
            color: map-get($couleurs, coulPrimaire);
            background-color: map-get($couleurs, coulBgHover);
            border-radius: 11px;
        }
    }
}

.photographer-categories {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.2rem;
    @include mobile {
        margin-top: 0.3rem;
    }
    & li {
        padding: 0.15em 0.3em 0em 0em;
        & a {
            position: relative;
            z-index: 1;
            vertical-align: top;
            font-weight: 500;
            font-size: map-get($size, pageTxtTag);
            border: 0.7px solid map-get($couleurs, coulTagBorder);
            color: map-get($couleurs, coulPrimaire);
            padding: 0.05em 0.35em;
            border-radius: 12px;
            cursor: pointer;
            @include mobile {
                font-size: map-get($size, pageTxtTagMob);
                border-radius: 11px;
            }
        }
        & a:hover::after {
            opacity: 1;
        }
        & a::after {
            z-index: -1;
            content: "";
            position: absolute;
            top: 0px;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            transition: opacity 250ms;
            color: map-get($couleurs, coulPrimaire);
            background-color: map-get($couleurs, coulBgHover);
            border-radius: 12px;
        }
    }
}