.cards-photographs {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 1.5rem;
    gap: 12.5%;
    @include mobile {
        justify-content: center;
        gap: initial;
    }
    @include laptop {
        gap: 10%;
    }
    @include xlTV {
        gap: 8%;
    }
    & .photographer-card {
        margin-top: 4em;
        max-width: 25%;
        min-width: 25%;
        text-align: center;
        @include mobile {
            &:nth-of-type(1) {
                margin-top: 2em;
            }
            margin-top: 1.2em;
            max-width: 100%;
            min-width: 100%;
        }
        @include laptop {
            &:nth-of-type(1),
            &:nth-of-type(2) {
                margin-top: 2em;
            }
            margin-top: 1.2em;
            max-width: 45%;
            min-width: 45%;
        }
        @include xlTV {
            max-width: initial;
            min-width: initial;
        }
        &>a {
            display: block;
            color: map-get($couleurs, coulSecondaire);
            display: flex;
            flex-direction: column;
            align-items: center;
            & picture {
                display: flex;
                justify-content: center;
                align-items: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 10em;
                width: 10em;
                border-radius: 50%;
                filter: none;
                & img {
                    filter: blur(3px);
                    border-radius: 50%;
                    height: 10.5em;
                    width: 10.5em;
                    object-fit: cover;
                    box-shadow: 0 0 20px 14px #fff;
                    z-index: -1;
                    opacity: 0.22;
                    mix-blend-mode: multiply;
                }
            }
            & h2 {
                margin-top: 0.5em;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 100%;
                font-size: map-get($size, pageTxtNomMob);
                @include mobile {
                    margin-top: 0.3em;
                }
                @include laptop {
                    margin-top: 0.3em;
                }
            }
        }
        & p {
            line-height: 0.8;
            & span {
                &:nth-of-type(1) {
                    font-size: map-get($size, indexTxtVille);
                    color: map-get($couleurs, coulPrimaire);
                }
                &:nth-of-type(2) {
                    font-size: map-get($size, indexTxtMsg);
                }
                &:nth-of-type(3) {
                    font-size: map-get($size, indexTxtTarif);
                    color: map-get($couleurs, coulPrice);
                }
            }
        }
        & ul {
            &.index-photographer-categories {
                margin-top: 0.5em;
                display: flex;
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 0;
                gap: 2%;
                & li {
                    padding: 0;
                    & a {
                        padding: 0.12em 0.37em;
                    }
                }
            }
        }
    }
}