* {
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    box-sizing: border-box;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

input:focus,
select:focus {
    outline: none;
}