h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'DM Sans', sans-serif;
}

.index__h1 {
    margin-right: 5rem;
    font-size: map-get($size, pageTxtNomMob);
    color: map-get($couleurs, coulPrimaire);
    margin-top: 44px;
    line-height: 47px;
}